<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>

  <div class="container">
    <div class="card shadow border rounded mt-5">
      <div class="card-header">
        <h2>Novo Artigo</h2>
      </div>
      <div class="card-body">
        <form action="/categories/save" method="POST">
          <input
            class="form-control mb-3"
            type="text"
            name="title"
            placeholder="Defina o titulo do Artigo..."
            autofocus
            required
          />
          <div class="my-4">
              <label>Categoria:</label>
              <select name="category" class="form-control">
                <% categories.forEach(({id, title}) => { %>
                    <option value="<%= id %> "> <%= title %> </option>
                <% }) %>
              </select>
          </div>
          <textarea class="form-control my-4" id="article" placeholder="Digite o artigo aqui..." name="body"></textarea>
          <button class="btn btn-success mt-3" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.tiny.cloud/1/6jffl5wi99nrkr7swy7ceq6kq7xlq9poq5pvjv82vjvysn7v/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      language: 'pt_BR', 
      selector: '#article',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });
  </script>
</body>
<%- include('../../partials/footer.ejs') %>