<%- include('partials/header.ejs') %> 
<body>
    <%- include('partials/homenavbar.ejs') %> 
    
    <div class="container">
        
        <div class="jumbotron mt-5">
            <h1 class="display-4">Blog com Painel Administrativo</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Ver Desenvolvedor</a>
          </div>

        <% articles.forEach(({id, title, slug}) => { %>
            <div class="card shadow my-5">
                <div class="card-header">
                    <h2> <%= title %> </h2>
                </div>
                <div class="card-body">
                    <a href="<%= slug %>" class="btn btn-success">
                        Ler Artigo...
                    </a>
                </div>
            </div>
        <% }) %> 

    </div>

</body>
<%- include('partials/footer.ejs') %> 
