<%- include('partials/header.ejs') %> 
<body>
    <%- include('partials/homenavbar.ejs') %> 
    
    <div class="container">
        
        <div class="jumbotron mt-5 bg-dark text-white">
            <h1 class="display-4">Bem vindo ao Blog!</h1>
            <p class="lead">Blog com painel Administrativo para publicar e postar dos mais diversos assuntos do mundo dev !!</p>
            <hr class="my-4">
            <p>Veja o criador ou faça login como Administrador para fazer e gerenciar suas primeiras postagens!</p>
            <a class="btn btn-primary btn-lg my-2 ml-3 shadow" target="_blank" href="https://github.com/Thiagodev777" role="button">Ver Desenvolvedor</a>
            <a href="/login" class="btn btn-danger btn-lg ml-3 my-2 shadow">Login Administrador</a>
          </div>

        <% if(articles.length === 0) { %>
            <hr>
            <h1 class="error">Não a Artigos Cadastrados! Cadastre um...</h1>
        <% } else { %>

            <% articles.forEach(({id, title, slug}) => { %>
                <div class="card shadow my-5">
                    <div class="card-header">
                        <h2> <%= title %> </h2>
                    </div>
                    <div class="card-body">
                        <a href="<%= slug %>" class="btn btn-success">
                            Ler Artigo...
                        </a>
                    </div>
                </div>
            <% }) %> 

            <div class="row my-5">
                <div class="col col-12">
                    <a style="float: right;" href="/articles/page/2">Next >>></a>
                </div>
            </div>

        <% } %> 

    </div>

</body>
<%- include('partials/footer.ejs') %> 
